#Shell-main {
    div.ux-container {
        display: flex;
    }
    #Shell-header {
        .ux-header {
            &-banner {
                
            }
            &-topNav {

            }
        }
    }
    #Shell-content {
        
    }
    #Shell-footer {

    }
}